<div id="admin-sidebar">
  <div class="admin-sidebar-logo">
    <img src="img/logo_melior.jpeg" alt="Melior Logo" class="admin-brand-img" />
  </div>

  <div class="admin-sidebar-links">
    <a href="/dashboard.html">
      <i class="fa-solid fa-chart-line"></i>
      <span>Dashboard</span>
    </a>

    <div class="admin-sidebar-group">
      <div class="admin-sidebar-group-title">
        <i class="fa-solid fa-boxes-stacked"></i>
        <span>Gestão</span>
      </div>

      <div class="admin-sidebar-submenu">
        <a href="gestao.html?tipo=produtos" class="admin-sidebar-subitem">
          <i class="fa-solid fa-box"></i>
          <span>Produtos</span>
        </a>

        <a href="gestao.html?tipo=marcas" class="admin-sidebar-subitem">
          <i class="fa-solid fa-tags"></i>
          <span>Marcas</span>
        </a>

        <a href="gestao.html?tipo=categorias" class="admin-sidebar-subitem">
          <i class="fa-solid fa-layer-group"></i>
          <span>Categorias</span>
        </a>

        <a href="gestao.html?tipo=fornecedores" class="admin-sidebar-subitem">
          <i class="fa-solid fa-truck-field"></i>
          <span>Fornecedores</span>
        </a>

        <a href="gestao.html?tipo=funcionarios" class="admin-sidebar-subitem">
          <i class="fas fa-briefcase"></i>
          <span>Funcionários</span>
        </a>
      </div>
    </div>

    <a href="/pedidos-admin.html">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>Pedidos</span>
    </a>

    <a href="funcionarios.html" class="sidebar-link-funcionarios">
      <i class="fa-solid fa-users"></i>
      <span>Usuários</span>
    </a>

    <div class="admin-sidebar-footer">
      <a href="/configuracoes.html">
        <i class="fa-solid fa-gear"></i>
        <span>Configurações</span>
      </a>
    </div>
  </div>
</div>
