<header id="admin-header">
  <div class="admin-header-block">
    <!-- LOGO / TÍTULO -->
    <div class="admin-header-title">
      <i class="fa-solid fa-store"></i>
      <span>Melior Admin</span>
    </div>

    <!-- USUÁRIO -->
    <div class="admin-header-user">
      <div class="user-info">
        <i class="fa-solid fa-user-shield"></i>
        <span>Administrador</span>
      </div>

      <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Sair</span>
      </a>
    </div>
  </div>
</header>
