/* Ajuste para telas de coluna única (Recuperar Senha) */
.glass-container.single-column {
  max-width: 500px; /* Mais estreito para focar no centro */
  margin: 0 auto; /* Centraliza horizontalmente */
  min-height: auto; /* Altura automática baseada no conteúdo */
  padding: 20px;
}

.glass-container.single-column .right-side {
  flex: 1;
  padding: 40px;
}

/* Estilo para o parágrafo de instrução */
.login-form p {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
  opacity: 0.8;
}

.login-form a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

#login-return {
  text-align: center;
  margin-top: 30px;
}
